{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3 ">     
            <div class="card-body">
                <form action="/buscar" method="post">
                    <div class="form-row">
                        <div class="col-sm-2">
                            <label for="university" class="form-control"><strong>Universidad</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <select name="university" id="university" class="form-control">
                                <option value="0">(seleccione universidad {{selected.nivel1}})</option>
                                {% for universidad in universidades %}
                                <option value="{{universidad}}" {% if selected.universidad == universidad %}  selected {% endif %}>{{universidad}}</option>
                                {% endfor %}
                            </select>
                        </div> 
                        <div class="col-sm-1">
                                <label for="nivel1" class="form-control"><strong>Módulo</strong></label>
                        </div>
                        <div class="col">
                            <select name="nivel1" id="nivel1" class="form-control">
                                    {% for nivel1 in niveles1 %}
                                    <option value="{{nivel1}}" {% if selected.nivel1 == nivel1 %}  selected {% endif %}>{{nivel1}}</option>
                                    {% endfor %}
                            </select>
                        </div>                     
                    </div>
                    <div class="form-row">
                            <div class="col-sm-2">
                                <label for="area" class="form-control"><strong>Área</strong></label>
                            </div>
                            <div class="col-sm-4">
                                <select name="area" id="area" class="form-control">
                                    {% for area in areas %}
                                    <option value="{{area}}" {% if selected.area == area %}  selected {% endif %}>{{area}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col-sm-1">
                                <label for="nivel2" class="form-control"><strong>Materia</strong></label>
                            </div>
                            <div class="col">
                                <select name="nivel2" id="nivel2" class="form-control">
                                        {% for nivel2 in niveles2 %}
                                        <option value="{{nivel2}}" {% if selected.nivel2 == nivel2 %}  selected {% endif %}>{{nivel2}}</option>
                                        {% endfor %}
                                </select>
                            </div>
                    </div>
                    <div class="form-row">                        
                            <div class="col-sm-1">
                                    <label for="titulo" class="form-control"><strong>Título</strong></label>
                            </div>
                            <div class="col-sm-5">
                                <select name="titulo" id="titulo" class="form-control">
                                        {% for titulo in titulos %}
                                        <option value="{{titulo}}" {% if selected.titulo == titulo %}  selected {% endif %}>{{titulo}}</option>
                                        {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-2">
                                    <label for="asignatura" class="form-control"><strong>Asignatura</strong></label>
                                </div>
                                <div class="col">
                                    <select name="asignatura" id="asignatura" class="form-control">
                                            {% for asignatura in asignaturas %}
                                            <option value="{{asignatura}}" {% if selected.asignatura == asignatura %}  selected {% endif %}>{{asignatura}}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                    </div>
                    <div class="form-row">                                                     
                        <div class="col-sm-1">
                            <label for="credits" class="form-control"><small>Créditos</small></label>
                        </div>
                        <div class="col-sm-1">
                            <input type="text" name="credits" id="credits" class="form-control" placeholder="0.0" disabled="" value="{{selected.creditos}}">
                        </div> 
                        <div class="col-sm-1">
                            <label for="type" class="form-control"><small>Carácter</small></label>  
                        </div>  
                        <div class="col-sm-3">                    
                            <input type="text" name="type" id="type" class="form-control"  placeholder="..." disabled="" value="{{selected.tipo}}">
                        </div> 
                        <div class="col-sm-2">
                            <label for="modalidad" class="form-control"><small>Modalidad</small></label>  
                        </div>  
                        <div class="col-sm-3">                    
                            <input class="form-control" name="modalidad" id="modalidad" type="text" placeholder="..." disabled=""  value="{{selected.modalidad}}">
                        </div>
                        <div class="col-sm-1"><input type="submit" value="Buscar" class="btn btn-primary" /></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <th>Competencias&nbsp;&nbsp;<button type="button" class="btn btn-outline-primary btn-sm" title="" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Atributo latente, conocimiento, actitud, habilidad, destreza y facultad para el desarrollo de una profesión, puesto de trabajo o desempeño académico, ejecutando adecuada y correctamente las actuaciones y actividades laborales o académicas exigidas." data-original-title="Competencia">+info</button></th>
                </tr>
            </thead>
            <tbody>
                {% for skill in skills %}
                <tr>
                    <td><a href="/skill/{{skill['_id']}}">{{skill['name']}}</a>
                        <span class="{% if skill['revisiones']|length > 0 %}text-primary{% else %}text-danger{% endif %}"><strong>(Revisiones: {{skill['revisiones']|length}})</strong></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <th>Resultados de aprendizaje&nbsp;&nbsp;<button type="button" class="btn btn-outline-primary btn-sm" title="" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Realizaciones o desempeños concretos y con determinados niveles de ejecución o de logro que evidencian lo que el estudiante es capaz de hacer y de demostrar." data-original-title="Resultados de aprendizaje">+info</button></th>
                    </tr>
                </thead>
                <tbody>
                        {% for result in results %}
                        <tr>
                            <td><a href="/result/{{result['_id']}}">{{result['name']}}</a>
                                <span class="{% if result['revisiones']|length > 0 %}text-primary{% else %}text-danger{% endif %}"><strong>(Revisiones: {{result['revisiones']|length}})</strong></span></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="col-md-4">
        
            <table class="table table-striped table-bordered bg-white table-sm">
                    <thead>
                        <tr>
                            <th>Medios de evaluación&nbsp;&nbsp;<button type="button" class="btn btn-outline-primary btn-sm" title="" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Evidencias o pruebas, tangibles u observables, que sirven para recabar información sobre el objeto a evaluar. Estas evidencias constituyen los productos o actuaciones de aprendizaje de los estudiantes." data-original-title="Medios de evaluación">+info</button></th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for instrument in instruments %}
                            <tr>
                                <td><a href="/instrument/{{instrument['_id']}}">{{instrument['name']}}</a>
                                    <span class="{% if instrument['revisiones']|length > 0 %}text-primary{% else %}text-danger{% endif %}"><strong>(Revisiones: {{instrument['revisiones']|length}})</strong></span></td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
    </div>
</div>
{% endblock %}
