{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3 ">     
            <div class="card-body">
                    <div class="form-row">
                        <div class="col-sm-1">
                            <strong>Universidad</strong>
                        </div>
                        <div class="col-sm-3">
                            {{ course.universidad }}
                        </div> 
                        <div class="col-sm-1">
                                <strong>Título</strong>
                            </div>
                            <div class="col">
                                {{ course.titulo }}
                            </div>                             
                            <div class="col-sm-1">
                                <strong>Créditos</strong>
                            </div>
                            <div class="col-sm-1">
                                {{ course.creditos }}
                            </div>                      
                    </div>
                    <div class="form-row">
                            <div class="col-sm-1">
                                <strong>Área</strong>
                            </div>
                            <div class="col-sm-3">
                                {{ course.area }}
                            </div>
                            
                            <div class="col-sm-1">
                                <strong>Asignatura</strong>
                            </div>
                            <div class="col">
                                {{ course.asignatura }}
                            </div>
                            <div class="col-sm-1">
                                <strong>Tipo</strong> 
                            </div>  
                            <div class="col-sm-1">                    
                                {{ course.tipo }}
                            </div>
                    </div>
                    <div class="form-row">
                            <div class="col-sm-11"></div>
                            <div class="col-sm-1"><a href="/buscar/{{ course._id }}" title="Ir la página anterior"  class="btn btn-success">Volver</a></div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        
            <table class="table table-striped table-bordered bg-white table-sm">
                    <thead>
                        <tr>
                            <th>Instrumentos de evaluación</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for instrument in instruments %}
                            <tr>
                                <td><a href="#">{{instrument['name']}}</a></td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
    </div>
    <div class="col-md-8">
            <form action="" method="post">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-sm-3">
                                <label for="ponderacion" class="form-control"><strong>Ponderación</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="ponderacion" id="ponderacion" class="form-control">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="presencia" class="form-control"><strong>Presencia</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="presencia" id="presencia" class="form-control">
                                    <option value="1">1 Sí</option>
                                    <option value="2">2 No</option>
                                </select>
                            </div>     
                        </div>                            
                        <div class="form-row">
                            <div class="col-sm-3">
                                    <label for="pertinencia" class="form-control"><strong>Pertinencia</strong></label>
                                </div>
                                <div class="col-sm-3">                        
                                    <select name="pertinencia" id="pertinencia" class="form-control">
                                        <option value="1">1 Ninguna</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5 Total</option>
                                    </select>
                                </div>  
                            <div class="col-sm-3">
                                <label for="comprensibilidad" class="form-control"><strong>Comprensibilidad</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="comprensibilidad" id="comprensibilidad" class="form-control">
                                    <option value="1">1 Incomprensible</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5 Claro y correcto</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-3">
                                <label for="concrecion" class="form-control"><strong>Concreción</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="concrecion" id="concrecion" class="form-control">
                                    <option value="1">1 Impreciso</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5 Preciso y específico</option>
                                </select>
                            </div>              
                            <div class="col-sm-3">
                                <label for="autenticidad" class="form-control"><strong>Autenticidad</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="autenticidad" id="autenticidad" class="form-control">
                                    <option value="1">1 Ninguna</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5 Real y útil</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-sm-3">
                                    <label for="cognitivo" class="form-control"><strong>Proceso cognitivo</strong></label>
                                </div>
                                <div class="col-sm-3">                        
                                    <select name="cognitivo" id="cognitivo" class="form-control">
                                        <option value="1">1 Recordar</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                </div>
                                
                <div class="card border-secondary mb-3 "> 
                    <div class="card-header"><strong>Tipo de conocimiento</strong></div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-sm-3">
                                <label for="factual" class="form-control"><strong>Factual</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="factual" id="factual" class="form-control">
                                    <option value="0">no</option>
                                    <option value="1">Prioridad 1</option>
                                    <option value="2">Prioridad 2</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="conceptual" class="form-control"><strong>Conceptual</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="conceptual" id="conceptual" class="form-control">
                                        <option value="0">no</option>
                                        <option value="1">Prioridad 1</option>
                                        <option value="2">Prioridad 2</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="col-sm-3">
                                <label for="procedimental" class="form-control"><strong>Procedimental</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="procedimental" id="procedimental" class="form-control">
                                        <option value="0">no</option>
                                        <option value="1">Prioridad 1</option>
                                        <option value="2">Prioridad 2</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="metacognitivo" class="form-control"><strong>Metacognitivo</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="metacognitivo" id="metacognitivo" class="form-control">
                                        <option value="0">no</option>
                                        <option value="1">Prioridad 1</option>
                                        <option value="2">Prioridad 2</option>
                                </select>
                            </div>
                        </div> 
                    </div>
                </div>
    
                <div class="card border-secondary mb-3 "> 
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-sm-3">
                                <label for="solo" class="form-control"><strong>Taxonomía SOLO</strong></label>
                            </div>
                            <div class="col">                        
                                <select name="solo" id="solo" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>                          
                    </div>
                </div>
                
                <div class="card border-secondary mb-3 "> 
                        <div class="card-header"><strong>Transversalidad</strong></div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-sm-3">
                                    <label for="afectivo" class="form-control"><strong>Afectivo/Actitudinal</strong></label>
                                </div>
                                <div class="col-sm-3">                        
                                    <select name="afectivo" id="afectivo" class="form-control">
                                        <option value="0">No</option>
                                        <option value="1">Sí</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="tecnologico" class="form-control"><strong>Tecnológico</strong></label>
                                </div>
                                <div class="col-sm-3">                        
                                    <select name="tecnologico" id="tecnologico" class="form-control">
                                            <option value="0">No</option>
                                            <option value="1">Sí</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="form-row">
                                <div class="col-sm-3">
                                    <label for="colaborativo" class="form-control"><strong>Colaborativo</strong></label>
                                </div>
                                <div class="col-sm-3">                        
                                    <select name="colaborativo" id="colaborativo" class="form-control">
                                            <option value="0">No</option>
                                            <option value="1">Sí</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    
                                </div>
                                <div class="col-sm-3">                        
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </div> 
                        </div>
                </div> 
    
                </div>
            </form>
        </div>
</div>
{% endblock %}