{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3 "> 
            <div class="card-header">
                <form action="/informes_resultados" method="post">
                    <div class="form-row">
                        <div class="col-sm-2">
                            <label for="universidad" class="form-control"><strong>Universidad</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <select name="universidad" id="universidad" class="form-control">
                                <option value="TODAS">Todas las universidades</option>
                                {% for universidad in universidades %}
                                <option value="{{universidad}}" {% if selected.universidad == universidad %}  selected {% endif %}>{{universidad}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-1"><input type="submit" value="Buscar" class="btn btn-primary" /></div>
                    </div>
                </form>
            </div>    
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{data['universidad']}}</th>
                            <th class="text-md-right">Total</th>
                            <th class="text-md-right">Registrados</th>
                            <th class="text-md-right">Pendientes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Resultados</td>
                            <td class="text-md-right">{{data['resultados']['total']}} </td>
                            <td class="text-md-right">
                                {{data['resultados']['registrados']}} 
                                <span class="badge badge-success">{{(100*data['resultados']['registrados']/data['resultados']['total'])|round(1)}} %</span> 
                            </td>
                            <td class="text-md-right">
                                {{data['resultados']['pendientes']}}  
                                <span class="badge badge-danger">{{(100*data['resultados']['pendientes']/data['resultados']['total'])|round(1)}} %</span> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3 "> 
            <div class="card-header">
                <b>Informes de resultados</b>
            </div>
            <div class="form-row">
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Corrección</b>
                    </div>                 
                    <canvas id="pie_correccion" width="100" height="100"></canvas>
                    <script>
                        var ctx1 = document.getElementById('pie_correccion').getContext('2d');
                        var pie_correccion = new Chart(ctx1, {
                            type: 'pie',
                            data: {
                                labels: [
                                    {% if data['resultados']['registrados'] > 0 %}
                                    'Nivel 0 ({{(100 * data['resultados']['correccion'][0] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Nivel 1 ({{(100 * data['resultados']['correccion'][1] / data['resultados']['registrados'])|round(2)}} %)', 
                                    'Nivel 2 ({{(100 * data['resultados']['correccion'][2] / data['resultados']['registrados'])|round(2)}} %)'],
                                    {% endif %} 
                                datasets: [ {
                                    label: 'Correccion', 
                                    data: [
                                    {{data['resultados']['correccion'][0]}},
                                    {{data['resultados']['correccion'][1]}},
                                    {{data['resultados']['correccion'][2]}}
                                    ],
                                    backgroundColor: ['#02126d', '#8877bf', '#c0b0ea']
                                }]
                            }
                        })
                    </script>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Proceso Cognitivo</b>
                    </div>                 
                    <canvas id="pie_cognitivo" width="100" height="100"></canvas>
                    <script>
                        var ctx2 = document.getElementById('pie_cognitivo').getContext('2d');
                        var pie_cognitive = new Chart(ctx2, {
                            type: 'pie',
                            data: {
                                labels: [                                    
                                    {% if data['resultados']['registrados'] > 0 %}
                                    '1 Recordar ({{(100 * data['resultados']['cognitivo'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    '2 Comprender ({{(100 * data['resultados']['cognitivo'][2] / data['resultados']['registrados'])|round(2)}} %)', 
                                    '3 Aplicar ({{(100 * data['resultados']['cognitivo'][3] / data['resultados']['registrados'])|round(2)}} %)', 
                                    '4 Analizar ({{(100 * data['resultados']['cognitivo'][4] / data['resultados']['registrados'])|round(2)}} %)', 
                                    '5 Evaluar ({{(100 * data['resultados']['cognitivo'][5] / data['resultados']['registrados'])|round(2)}} %)', 
                                    '6 Crear ({{(100 * data['resultados']['cognitivo'][6] / data['resultados']['registrados'])|round(2)}} %)'],
                                    {% endif %}
                                datasets: [ {
                                    label: 'Cognitivo', 
                                    data: [
                                    {% for cogval in data['resultados']['cognitivo'] %}
                                    {{data['resultados']['cognitivo'][cogval]}},
                                    {% endfor %}
                                    ],
                                    backgroundColor: ['#095c47', '#287242', '#528633', '#83961b', '#bda200', '#ffa600']
                                }]
                            }
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3 ">             
            <div class="form-row">
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Estructura del conocimiento</b>
                    </div> 
                    <canvas id="pie_estructura" width="100" height="100"></canvas>
                    <script>
                        var ctx3 = document.getElementById('pie_estructura').getContext('2d');
                        var pie_cognitive = new Chart(ctx3, {
                            type: 'pie',
                            data: {
                                labels: [                                    
                                    {% if data['resultados']['registrados'] > 0 %}
                                    '1 Preestructural ({{(100 * data['resultados']['estructura'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    '2 Uniestructural ({{(100 * data['resultados']['estructura'][2] / data['resultados']['registrados'])|round(2)}} %)', 
                                    '3 Multiestructural ({{(100 * data['resultados']['estructura'][3] / data['resultados']['registrados'])|round(2)}} %)', 
                                    '4 Relacional ({{(100 * data['resultados']['estructura'][4] / data['resultados']['registrados'])|round(2)}} %)', 
                                    '5 Abstracto ampliado ({{(100 * data['resultados']['estructura'][5] / data['resultados']['registrados'])|round(2)}} %)'],
                                    {% endif %}
                                datasets: [ {
                                    label: 'Estructura del conocimiento', 
                                    data: [
                                    {% for estval in data['resultados']['estructura'] %}
                                    {{data['resultados']['estructura'][estval]}},
                                    {% endfor %}
                                    ],
                                    backgroundColor: ['#2c055c', '#860061', '#ca1152', '#f45e35', '#ffa600']
                                }]
                            }
                        })
                    </script>
                </div>
                <div class="col-sm-2"></div> 
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Transversalidad - Afectivo/Actitudinal</b>
                    </div> 
                    <canvas id="pie_afectivo" width="100" height="100"></canvas>
                    <script>
                        var ctx4 = document.getElementById('pie_afectivo').getContext('2d');
                        var pie_cognitive = new Chart(ctx4, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'No ({{(100 * data['resultados']['afectivo'][0] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Sí ({{(100 * data['resultados']['afectivo'][1] / data['resultados']['registrados'])|round(2)}} %)'], 
                                datasets: [ {
                                    label: 'Afectivo', 
                                    data: [
                                    {{data['resultados']['afectivo'][0]}},
                                    {{data['resultados']['afectivo'][1]}}
                                    ],
                                    backgroundColor: ['#BFC9CA', '#138D75']
                                }]
                            }
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3 ">             
            <div class="form-row">
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Transversalidad - Tecnológico</b>
                    </div> 
                    <canvas id="pie_tecnologico" width="100" height="100"></canvas>
                    <script>
                        var ctx5 = document.getElementById('pie_tecnologico').getContext('2d');
                        var pie_cognitive = new Chart(ctx5, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'No ({{(100 * data['resultados']['tecnologico'][0] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Sí ({{(100 * data['resultados']['tecnologico'][1] / data['resultados']['registrados'])|round(2)}} %)'],
                                datasets: [ {
                                    label: 'Transversalidad', 
                                    data: [
                                    {{data['resultados']['tecnologico'][0]}},
                                    {{data['resultados']['tecnologico'][1]}}
                                    ],
                                    backgroundColor: ['#AEB6BF', '#D4AC0D']
                                }]
                            }
                        })
                    </script>
                </div>
                <div class="col-sm-2"></div> 
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Transversalidad - Colaborativo</b>
                    </div> 
                    <canvas id="pie_colaborativo" width="100" height="100"></canvas>
                    <script>
                        var ctx6 = document.getElementById('pie_colaborativo').getContext('2d');
                        var pie_cognitive = new Chart(ctx6, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'No ({{(100 * data['resultados']['colaborativo'][0] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Sí ({{(100 * data['resultados']['colaborativo'][1] / data['resultados']['registrados'])|round(2)}} %)'],
                                datasets: [ {
                                    label: 'Transversalidad', 
                                    data: [
                                    {{data['resultados']['colaborativo'][0]}},
                                    {{data['resultados']['colaborativo'][1]}}
                                    ],
                                    backgroundColor: ['#AEB6BF', '#E74C3C']
                                }]
                            }
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3 ">             
            <div class="form-row">
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Verificabilidad</b>
                    </div>                 
                    <canvas id="pie_verificabilidad" width="100" height="100"></canvas>
                    <script>
                        var ctx12 = document.getElementById('pie_verificabilidad').getContext('2d');
                        var pie_autenticidad = new Chart(ctx12, {
                            type: 'pie',
                            data: {
                                labels: [
                                    {% if data['resultados']['registrados'] > 0 %}
                                    'Nivel 1 - ninguna ({{(100 * data['resultados']['verificabilidad'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Nivel 2 ({{(100 * data['resultados']['verificabilidad'][2] / data['resultados']['registrados'])|round(2)}} %)', 
                                    'Nivel 3 ({{(100 * data['resultados']['verificabilidad'][3] / data['resultados']['registrados'])|round(2)}} %)', 
                                    'Nivel 4 ({{(100 * data['resultados']['verificabilidad'][4] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Nivel 5 - evaluable, medible ({{(100 * data['resultados']['verificabilidad'][5] / data['resultados']['registrados'])|round(2)}} %)'], 
                                    {% endif %}
                                datasets: [ {
                                    label: 'Autenticidad', 
                                    data: [
                                    {{data['resultados']['verificabilidad'][1]}},
                                    {{data['resultados']['verificabilidad'][2]}},
                                    {{data['resultados']['verificabilidad'][3]}},
                                    {{data['resultados']['verificabilidad'][4]}},
                                    {{data['resultados']['verificabilidad'][5]}}
                                    ],
                                    backgroundColor: ['#2E4053', '#AAB7B8', '#5C6BC0', '#DAF7A6', '#FFC300']
                                }]
                            }
                        })
                    </script>
                </div>                    
                
                <div class="col-sm-2"></div> 
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Autenticidad</b>
                    </div>                 
                    <canvas id="pie_autenticidad" width="100" height="100"></canvas>
                    <script>
                        var ctx13 = document.getElementById('pie_autenticidad').getContext('2d');
                        var pie_autenticidad = new Chart(ctx13, {
                            type: 'pie',
                            data: {
                                labels: [
                                    {% if data['resultados']['registrados'] > 0 %}
                                    'Nivel 1 - ninguna ({{(100 * data['resultados']['autenticidad'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Nivel 2 ({{(100 * data['resultados']['autenticidad'][2] / data['resultados']['registrados'])|round(2)}} %)', 
                                    'Nivel 3 ({{(100 * data['resultados']['autenticidad'][3] / data['resultados']['registrados'])|round(2)}} %)', 
                                    'Nivel 4 ({{(100 * data['resultados']['autenticidad'][4] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Nivel 5 - real y útil ({{(100 * data['resultados']['autenticidad'][5] / data['resultados']['registrados'])|round(2)}} %)'], 
                                    {% endif %}
                                datasets: [ {
                                    label: 'Autenticidad', 
                                    data: [
                                    {{data['resultados']['autenticidad'][1]}},
                                    {{data['resultados']['autenticidad'][2]}},
                                    {{data['resultados']['autenticidad'][3]}},
                                    {{data['resultados']['autenticidad'][4]}},
                                    {{data['resultados']['autenticidad'][5]}}
                                    ],
                                    backgroundColor: ['#095c47', '#287242', '#528633', '#83961b', '#bda200']
                                }]
                            }
                        })
                    </script>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- factual y conceptual -->
<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3 ">             
            <div class="form-row">
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Tipo de conocimiento - Factual</b>
                    </div> 
                    <canvas id="pie_factual" width="100" height="100"></canvas>
                    <script>
                        var ctx7 = document.getElementById('pie_factual').getContext('2d');
                        var pie_cognitive = new Chart(ctx7, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'No ({{(100 * data['resultados']['factual'][0] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Prioridad 1 ({{(100 * data['resultados']['factual'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Prioridad 2 ({{(100 * data['resultados']['factual'][2] / data['resultados']['registrados'])|round(2)}} %)'],
                                datasets: [ {
                                    label: 'Factual', 
                                    data: [
                                    {{data['resultados']['factual'][0]}},
                                    {{data['resultados']['factual'][1]}},
                                    {{data['resultados']['factual'][2]}}
                                    ],
                                    backgroundColor: ['#AEB6BF', '#138D75', '#D4AC0D']
                                }]
                            }
                        })
                    </script>
                </div>
                <div class="col-sm-2"></div> 
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Tipo de conocimiento - Conceptual</b>
                    </div> 
                    <canvas id="pie_conceptual" width="100" height="100"></canvas>
                    <script>
                        var ctx8 = document.getElementById('pie_conceptual').getContext('2d');
                        var pie_cognitive = new Chart(ctx8, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'No ({{(100 * data['resultados']['conceptual'][0] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Prioridad 1 ({{(100 * data['resultados']['conceptual'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Prioridad 2 ({{(100 * data['resultados']['conceptual'][2] / data['resultados']['registrados'])|round(2)}} %)'],
                                datasets: [ {
                                    label: 'Conceptual', 
                                    data: [
                                    {{data['resultados']['conceptual'][0]}},
                                    {{data['resultados']['conceptual'][1]}},
                                    {{data['resultados']['conceptual'][2]}}
                                    ],
                                    backgroundColor: ['#AEB6BF', '#138D75', '#D4AC0D']
                                }]
                            }
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- procedimental y metacognitivo -->
<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3 ">             
            <div class="form-row">
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Tipo de conocimiento - Procedimental</b>
                    </div> 
                    <canvas id="pie_procedimental" width="100" height="100"></canvas>
                    <script>
                        var ctx9 = document.getElementById('pie_procedimental').getContext('2d');
                        var pie_cognitive = new Chart(ctx9, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'No ({{(100 * data['resultados']['procedimental'][0] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Prioridad 1 ({{(100 * data['resultados']['procedimental'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Prioridad 2 ({{(100 * data['resultados']['procedimental'][2] / data['resultados']['registrados'])|round(2)}} %)'],
                                datasets: [ {
                                    label: 'Procedimental', 
                                    data: [
                                    {{data['resultados']['procedimental'][0]}},
                                    {{data['resultados']['procedimental'][1]}},
                                    {{data['resultados']['procedimental'][2]}}
                                    ],
                                    backgroundColor: ['#AEB6BF', '#138D75', '#D4AC0D']
                                }]
                            }
                        })
                    </script>
                </div>
                <div class="col-sm-2"></div> 
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Tipo de conocimiento - Metacognitivo</b>
                    </div> 
                    <canvas id="pie_metacognitivo" width="100" height="100"></canvas>
                    <script>
                        var ctx10 = document.getElementById('pie_metacognitivo').getContext('2d');
                        var pie_cognitive = new Chart(ctx10, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'No ({{(100 * data['resultados']['metacognitivo'][0] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Prioridad 1 ({{(100 * data['resultados']['metacognitivo'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Prioridad 2 ({{(100 * data['resultados']['metacognitivo'][2] / data['resultados']['registrados'])|round(2)}} %)'],
                                datasets: [ {
                                    label: 'Metacognitivo', 
                                    data: [
                                    {{data['resultados']['metacognitivo'][0]}},
                                    {{data['resultados']['metacognitivo'][1]}},
                                    {{data['resultados']['metacognitivo'][2]}}
                                    ],
                                    backgroundColor: ['#AEB6BF', '#138D75', '#D4AC0D']
                                }]
                            }
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- prioridad 1 -->
<div class="row">
    <div class="col-md-12">
        <div class="card border-secondary mb-3 ">             
            <div class="form-row">
                <div class="col-sm-5">   
                    <div class="card-header">
                        <b>Tipo de conocimiento - Prioridad 1</b>
                    </div> 
                    <canvas id="pie_prioridad1" width="100" height="100"></canvas>
                    <script>
                        var ctx11 = document.getElementById('pie_prioridad1').getContext('2d');
                        {% set total_prioridad1 = data['resultados']['registrados'] - (data['resultados']['factual'][1] + data['resultados']['conceptual'][1]
                            + data['resultados']['procedimental'][1] + data['resultados']['metacognitivo'][1])%};
                        var pie_cognitive = new Chart(ctx11, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'Factual ({{(100 * data['resultados']['factual'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Conceptual ({{(100 * data['resultados']['conceptual'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Procedimental ({{(100 * data['resultados']['procedimental'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Metacognitivo ({{(100 * data['resultados']['metacognitivo'][1] / data['resultados']['registrados'])|round(2)}} %)',
                                    'Sin definir ({{(100 * total_prioridad1 / data['resultados']['registrados'])|round(2) }})'],
                                datasets: [ {
                                    label: 'Procedimental', 
                                    data: [
                                    {{data['resultados']['factual'][1]}},
                                    {{data['resultados']['conceptual'][1]}},
                                    {{data['resultados']['procedimental'][1]}},
                                    {{data['resultados']['metacognitivo'][1]}},
                                    {{total_prioridad1}}
                                    ],
                                    backgroundColor: ['#FFE0B2', '#F57C00', '#339999', '#A9CCE3', '#000000']
                                }]
                            }
                        })
                    </script>
                </div>
                <div class="col-sm-2"></div> 
                <div class="col-sm-5"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}