{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card border-primary mb-3 ">     
            <div class="card-body">
                    <div class="form-row">
                        <div class="col-sm-2">
                            <strong>Universidad</strong>
                        </div>
                        <div class="col-sm-5">
                            {{ course.universidad }}
                        </div> 
                        <div class="col-sm-1">
                            <strong>Módulo</strong>
                        </div>
                        <div class="col">
                            {{ course.nivel1 }}
                        </div>                     
                    </div>
                    <div class="form-row">
                        <div class="col-sm-2">
                            <strong>Área</strong>
                        </div>
                        <div class="col-sm-5">
                            {{ course.area }}
                        </div>
                        
                        <div class="col-sm-1">
                            <strong>Materia</strong>
                        </div>
                        <div class="col">
                            {{ course.nivel2 }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-2">
                            <strong>Título</strong>
                        </div>
                        <div class="col-sm-5">
                            {{ course.titulo }}
                        </div>
                        <div class="col-sm-1">
                            <strong>Asignatura</strong>
                        </div>
                        <div class="col">
                            {{ course.asignatura }}
                        </div>
                    </div>
                    <hr /> 
                    <div class="form-row">                                                    
                        <div class="col-sm-2">
                            <strong>Créditos:</strong> {{ course.creditos }}
                        </div> 
                        <div class="col-sm-3">
                            <strong>Tipo:</strong> {{ course.tipo }}
                        </div>
                        <div class="col-sm-5">
                            <strong>Modalidad:</strong> {{ course.modalidad }}
                        </div>
                        <div class="col-sm-1"><a href="/buscar/{{ course._id }}" title="Ir la página anterior"  class="btn btn-primary">Volver</a></div>                            
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <th>Competencias</th>
                </tr>
            </thead>
            <tbody>
                {% for skill in skills %}
                <tr>
                    <td><a href="/skill/{{skill['_id']}}">{{skill['name']}}</a>
                        <span class="{% if skill['revisiones']|length > 0 %}text-primary{% else %}text-danger{% endif %}"><strong>(Revisiones: {{skill['revisiones']|length}})</strong></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <form action="/skill/save/" method="POST" name="form-fields">
            {% if save==1 %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>¡Estupendo!</strong> Cambios guardados con éxito
            </div>
            {% endif %}
            <div class="card border-primary mb-3 ">                 
                <div class="card-header">
                        <strong>{{document['name']}}</strong>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-sm-3">
                            <label for="tipo" class="form-control"><strong>Carácter</strong></label>
                            <input type="hidden" name="tipo" id="tipo" value="{{document['tipo']}}" />
                        </div>
                        <div class="col-sm">
                            <select name="tipo-text" id="tipo-text" class="form-control" disabled="" >
                                <option value="0"{% if document['tipo']=='0' %} selected="selected" {% endif %}>Básicas</option>
                                <option value="1"{% if document['tipo']=='1' %} selected="selected" {% endif %}>Específicas</option>
                                <option value="2"{% if document['tipo']=='2' %} selected="selected" {% endif %}>Generales</option>
                                <option value="3"{% if document['tipo']=='3' %} selected="selected" {% endif %}>Transversales</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">                        
                        <div class="col-sm-3">
                                <label for="correccion" class="form-control"><strong>Corrección</strong></label>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" data-placement="right" data-content="En la redacción se explicita verbo en infinitivo que informa de la acción del proceso cognitivo que se requiere al estudiante (recordar, conocer, aplicar, analizar, evaluar o crear)." data-original-title="Corrección (info)">+ info</button>
                        </div>
                    </div> 
                    <div class="form-row">  
                        <div class="col-sm">                        
                            <select name="correccion" id="correccion" class="form-control">
                                <option value="0"{% if document['correccion']=='0' %} selected="selected" {% endif %}>Nivel 0, no se valora más. No está definida en términos de competencia (punto de vista del profesor)</option>
                                <option value="1"{% if document['correccion']=='1' %} selected="selected" {% endif %}>Nivel 1, incluye un proceso cognitivo pero no está bien redactada</option>
                                <option value="2"{% if document['correccion']=='2' %} selected="selected" {% endif %}>Nivel 2, explicita verbo en infinitivo que informa de la acción del proceso cognitivo: recordar, conocer, aplicar, analizar, evaluar, crear, ...</option>
                            </select>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="card border-primary mb-3">
                    <div class="card-body">
                        <div class="form-row">                       
                            <div class="col-sm-3">
                                    <label for="cognitivo" class="form-control"><strong>Proceso cognitivo</strong></label>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" data-placement="right" data-content="Proceso cognitivo que se infiere de la competencia (Taxonomía de Anderson et al)." data-original-title="Proceso cognitivo (info)">+ info</button>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="cognitivo" id="cognitivo" class="form-control">
                                    <option value="1"{% if document['cognitivo']=='1' %} selected="selected" {% endif %}>1 Recordar</option>
                                    <option value="2"{% if document['cognitivo']=='2' %} selected="selected" {% endif %}>2 Comprender</option>
                                    <option value="3"{% if document['cognitivo']=='3' %} selected="selected" {% endif %}>3 Aplicar</option>
                                    <option value="4"{% if document['cognitivo']=='4' %} selected="selected" {% endif %}>4 Analizar</option>
                                    <option value="5"{% if document['cognitivo']=='5' %} selected="selected" {% endif %}>5 Evaluar</option>
                                    <option value="6"{% if document['cognitivo']=='6' %} selected="selected" {% endif %}>6 Crear</option>
                                </select>
                            </div>
                        </div> 
                    </div>
            </div>

            <div class="card border-primary mb-3 "> 
                <div class="card-body">
                    <div class="form-row">                                                            
                        <div class="col-sm-4">
                                <label for="" class="form-control"><strong>Tipo de conocimiento</strong></label>
                        </div>                                                       
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" data-placement="right" 
                            data-content="
                            Tipos de conocimiento que se infiere de la competencia:
                            -Se mantienen dos prioridades.     -Cuando está explícito un conocimiento factual o conceptual y otro procedimental se seleccionan ambos, siendo más prioritario el procedimental.
                            -Cuando sólo se explicita un conocimiento procedimental, aunque lleve implícito otros, sólo se indica el procedimental.
                            -Principalmente aplicar es procedimental y relaciona.
                            -Sólo liderazgo: metacognitivo (prioridad 1) y procedimental (prioridad 2)
                            -Comunicar los resultados de un informe (procedimental) o comunicar a públicos diferentes adaptando el discurso (metacognitivo)
                            " data-original-title="Proceso cognitivo (info)">+ info</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-3">
                            <label for="factual" class="form-control"><strong>Factual</strong></label>
                        </div>
                        <div class="col-sm-3">                        
                            <select name="factual" id="factual" class="form-control">
                                <option value="0"{% if document['factual']=='0' %} selected="selected" {% endif %}>No</option>
                                <option value="1"{% if document['factual']=='1' %} selected="selected" {% endif %}>Prioridad 1</option>
                                <option value="2"{% if document['factual']=='2' %} selected="selected" {% endif %}>Prioridad 2</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="conceptual" class="form-control"><strong>Conceptual</strong></label>
                        </div>
                        <div class="col-sm-3">                        
                            <select name="conceptual" id="conceptual" class="form-control">
                                    <option value="0"{% if document['conceptual']=='0' %} selected="selected" {% endif %}>No</option>
                                    <option value="1"{% if document['conceptual']=='1' %} selected="selected" {% endif %}>Prioridad 1</option>
                                    <option value="2"{% if document['conceptual']=='2' %} selected="selected" {% endif %}>Prioridad 2</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="col-sm-3">
                            <label for="procedimental" class="form-control"><strong>Procedimental</strong></label>
                        </div>
                        <div class="col-sm-3">                        
                            <select name="procedimental" id="procedimental" class="form-control">
                                    <option value="0"{% if document['procedimental']=='0' %} selected="selected" {% endif %}>No</option>
                                    <option value="1"{% if document['procedimental']=='1' %} selected="selected" {% endif %}>Prioridad 1</option>
                                    <option value="2"{% if document['procedimental']=='2' %} selected="selected" {% endif %}>Prioridad 2</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="metacognitivo" class="form-control"><strong>Metacognitivo</strong></label>
                        </div>
                        <div class="col-sm-3">                        
                            <select name="metacognitivo" id="metacognitivo" class="form-control">
                                    <option value="0"{% if document['metacognitivo']=='0' %} selected="selected" {% endif %}>No</option>
                                    <option value="1"{% if document['metacognitivo']=='1' %} selected="selected" {% endif %}>Prioridad 1</option>
                                    <option value="2"{% if document['metacognitivo']=='2' %} selected="selected" {% endif %}>Prioridad 2</option>
                            </select>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="card border-primary mb-3 "> 
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-sm-4">
                            <label for="estructura" class="form-control"><strong>Estructura del conocimiento</strong></label>
                        </div>                        
                        <div class="col-sm-3">
                                <button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" 
                                data-placement="right"
                                data-content="Estructura del conocimiento que se infiere de la competencia 
                                (preestructural, uniestructural, multiestructural, relacional y abstracto ampliado). (Taxonomía SOLO)." 
                                data-original-title="Estructura del conocimiento (info)">+ info</button>
                            </div>
                        <div class="col">                        
                            <select name="estructura" id="estructura" class="form-control">
                                <option value="1"{% if document['estructura']=='1' %} selected="selected" {% endif %}>1 Preestructural</option>
                                <option value="2"{% if document['estructura']=='2' %} selected="selected" {% endif %}>2 Uniestructural</option>
                                <option value="3"{% if document['estructura']=='3' %} selected="selected" {% endif %}>3 Multiestructural</option>
                                <option value="4"{% if document['estructura']=='4' %} selected="selected" {% endif %}>4 Relacional</option>
                                <option value="5"{% if document['estructura']=='5' %} selected="selected" {% endif %}>5 Abstracto ampliado</option>
                            </select>
                        </div>
                    </div>                          
                </div>
            </div>
            <div class="card border-primary mb-3 "> 
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-sm-4">
                                <label for="solo" class="form-control"><strong>Transversalidad</strong></label>
                            </div>                        
                            <div class="col-sm-3">
                                    <button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" 
                                    data-placement="right"
                                    data-content="Se contempla el carácter afectivo/actitudinal de la competencia, 
                                    el carácter tecnológico y el carácter colaborativo (popup con texto que sigue a continuación)." 
                                    data-original-title="Tramsversalidad (info)">+ info</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-3">
                                <label for="afectivo" class="form-control"><strong>Afectivo/Actitudinal</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="afectivo" id="afectivo" class="form-control">
                                    <option value="0"{% if document['afectivo']=='0' %} selected="selected" {% endif %}>No</option>
                                    <option value="1"{% if document['afectivo']=='1' %} selected="selected" {% endif %}>Sí</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="tecnologico" class="form-control"><strong>Tecnológico</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="tecnologico" id="tecnologico" class="form-control">
                                        <option value="0"{% if document['tecnologico']=='0' %} selected="selected" {% endif %}>No</option>
                                        <option value="1"{% if document['tecnologico']=='1' %} selected="selected" {% endif %}>Sí</option>
                                </select>
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="col-sm-3">
                                <label for="colaborativo" class="form-control"><strong>Colaborativo</strong></label>
                            </div>
                            <div class="col-sm-3">                        
                                <select name="colaborativo" id="colaborativo" class="form-control">
                                        <option value="0"{% if document['colaborativo']=='0' %} selected="selected" {% endif %}>No</option>
                                        <option value="1"{% if document['colaborativo']=='1' %} selected="selected" {% endif %}>Sí</option>
                                </select>
                            </div>
                            <div class="col-sm-6"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-primary mb-3">
                    <div class="card-body">                         
                        <div class="form-row">
                            <div class="col-sm-6">
                                <label for="observaciones" class="form-control"><strong>Observaciones</strong></label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm">
                                <textarea class="form-control" name="observaciones" id="observaciones" rows="3">{{document['observaciones']}}</textarea>
                            </div>
                        </div>
                        <div class="form-row mt-3">  
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-secondary" title="" data-container="body" data-toggle="popover" data-placement="right" 
                                data-content="Depende del tipo de competencia:
                                    (1) Básicas: todas las asignaturas de la base de datos. 
                                    (2) Específicas: todas las asignaturas a nivel de universidad.
                                    (3) Generales: todas las asignaturas a nivel de universidad.
                                    (4) Transversales: todas las asignaturas a nivel de universidad.">+ info</button>
                            </div>
                            <div class="col-sm-6"> 
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="aplicar" id="aplicar" checked>
                                        Aplicar los cambios a otros niveles
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">  
                                <input type="hidden" name="id" value="{{document['_id']}}" />    
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="card border primary mb-3">
                    <div class="card-header"><strong>Histórico de cambios</strong></div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Versión</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for revision in document['revisiones'] %}  
                                <tr class="table-light">
                                    <td>{{loop.index}}</td>
                                    <td>{{revision['fecha'].strftime('%d-%m-%Y a las %H:%M:%S')}}</td>
                                    <td>{{revision['usuario']}}</td>
                                        
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


        </form>
    </div>
</div>

{% endblock %}